/*ESTILIZAÇÃO CONTATO*/


.total-forms{
   display: flex;
   justify-content: center;
   gap: 20px;
   padding: 40px;
   min-height: 700px;
   background-image: url('../../../public/assets/backgroundForms.svg');
   background-repeat: no-repeat;
   background-position: bottom;  
   background-size: 100% ;
}

.form-text{
   display: inline-flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   max-width: 600px;
   height: auto;
   padding: 0 0 40px 30px;
}

.form-par{
   color: #181818;
   font-size: 26px;
   font-weight: 500;
   line-height: 30px;
   max-width: 800px;
}
.form-forms{
   background-color: #FFFFFF;
   border-radius: 30px;
   padding-right: 20px;
   width: auto;
   height: auto;
}
form{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 1;
   min-width: 454px;
   padding: 0 30px;
}

.form-pequeno{
   padding: 10px 0;
   display: block;
}

.form-pequeno input {
   width: 100%;
   padding: 10px ;
   border: 1px solid #dadce0;
   border-radius: 5px;
   font-size: 18px;
   outline: none;
}

.form-pequeno label {
   top: 10px;
    left: 10px;
    color: #8d8d8d;
    background: #ffffff;
    pointer-events: none;
    transition: 300ms;
    transform: translate(-50%, -50%);
}
.form-question{
   font-size: 18px;
   outline: none;
}

.form-question input {
   width: 100%;
   height: 83px;
   padding: 10px;
   border: 1px solid #dadce0;
   border-radius: 5px;
   font-size: 18px;
   outline: none;
}

.corpobotao{
   display: flex ;
   justify-content: center;
   padding: 20px 0 ;
}
.textobotao{
 color: #FFF;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 24px; 
 display: flex;
 padding: 10px 26px;
 justify-content: center;
 align-items: center;
 gap: 10px;
 border-radius: 4px;
 border: 2px solid #0B5CAB;
 background: #0B5CAB;
}






@media screen and (min-width: 768px) and (max-width: 1024px) {
   form{
      min-width: 354px;
   }
   .form-par{
      font-size: 22px;
      line-height: 25px;
   }
   

}

@media screen and (max-width: 767px) {
   form{
      min-width: 0;
   }

   .total-forms{
      flex-direction: column; 
      width: auto;     
      
   }
}