/*ESTILIZAÇÃO FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #EAF5FE;
  }
  .informacoes-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 1px solid rgba(116, 116, 116, 0.4);
  }
  .section-informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 10px;
  }
  .listas-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    color: #032E61;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }
  .titulos-footer{
    display: flex;
    justify-content: center;
    color: #032D60;
    width: 100%;
    height: 15%;
    font-weight: bold;
    font-size: 16px;
  }
  .itens-lista-footer{
    color: #032E61;
    text-decoration: none;
  }
  .listas-footer li {
    width: 100%;
    color: #032E61;
    font-size: 15px;
    font-weight: 500;
    list-style-position: inside;
  }
  .redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    width: 100%;
  }
  .redes-sociais li{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #032E61;
    font-size: 15px;
    font-weight: 500;
  }
  .itens-lista-redes{
    display: flex;
    align-items: center;
    color: #032E61;
    text-decoration: none;
  }
  .direitos-reservados{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #032D60;
    font-size: 11.5px;
  }
  